/*
  FILE          : JSONTextEditor.css
  PROJECT       : PROG2000 - Web Development
  PROGRAMMER    : Brendan Rushing & Trevor Allain
  FIRST VERSION : 2018-12-05
  DESCRIPTION   :   

  - This web app uses PHP for serverside communication
  - The web page is built with HTML and Javascript

This application is a text web application

    - Capture the data using Javascript
    - Use the JQuery AJAX method to pass it to our php page
    - Return a JSON encoded string

*/


.headerTopBar
{
    background-color:    white;
}

body
{
    background-color:   #f0ecec;
    min-width: 500px;
}

h1
{
    font-family: "Helvetica Neue"; 
    color: #0092db;   
    font-size:            42px;    
    text-align:         center;
    



}





.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}





.textTitle
{
     font-family: "Helvetica Neue"; 
     font-size: 28px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 600; 
     line-height: 15px;
     color: #0092db;    
     
}



.jsonButton
{
    background-color: #CC0000;
    
    border: none;
    color: white;
    padding: 8px 16px;


     font-family: "Helvetica Neue"; 
     font-size: 20px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 600; 
     line-height: 24px;
     color: white;

     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
}

.jsonButton:hover
{
    color: white !important;
    background-image:none !important;
    background-color:blue !important;
    
}